extends ../layout/index

block contenido
    div
        h2(class="font-bold") Login
        
        if autenticado
            p(class="font-bold")  esta Autenticado
        else 
            p no esta
        
        button  Este boton cambia 